body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Gothic A1", sans-serif;
}

.container {
  background: white;
  text-align: center;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 30px;
  column-gap: 20px;
  justify-content: space-between;
  line-height: 1.5;
}
/* 
img {
  width: 150px;
  height: 150px;
} */

header {
  text-align: center;
  padding-top: 10px;
}

img {
  /* width: 100%;
  height: auto; */
  border-radius: 25px;
  text-align: center;
}
